.servicos-container {
    position: relative;
    width: 100%; 
    margin-top: -130;
    justify-content: center; 
    align-items: center;    
    overflow: hidden; 

    
  }
  
  .baner {
    width: 100%;
    height:auto;  
    max-width: 100%;
    object-fit: cover; 
    flex-shrink: 0;
    display: flex;
    position: relative;
    margin-bottom: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .services-items {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    list-style-type: none;
    margin-top: -50px; 
    gap: 80;
    transform: scale(0.7);
    
  }

  .boleto {
    margin-top: 35px;
  }

  .guia {
    margin-top: 20px;
  }

  .plano{
    margin-top: 50px;
  }

   .portal{
    margin-top: 30px;
   }

  .fale{
    margin-top: 30px;
  }

  .atendimento {
    margin-top: 40px;
  }




