.servicos-container {
    position: relative;
    width: 100%; 
    justify-content: center; 
    align-items: center;    
    overflow: hidden; 

    
  }
  
  .baner {
    height:auto;  
    object-fit: cover; 
    flex-shrink: 0;
    display: flex;
    position: relative;
    margin-bottom: 1vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }
  
  .services-items {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    list-style-type: none;
    margin-top: -3vw; 
    gap: 80;
    transform: scale(0.7);
    
  }

  .boleto {
    margin-top: 2.5vw;
  }

  .guia {
    margin-top: 2vw;
  }

  .plano{
    margin-top: 3.5vw;
  }

   .portal{
    margin-top: 3vw;
   }

  .fale{
    margin-top: 3vw;
  }

  .atendimento {
    margin-top: 40px;
  }



  @media screen and (max-width: 768px) {
    .servicos-container {
        margin-top: 0;
        padding: 20px;
    }

    .baner {
      display: none;
    }

    .services-items {
        flex-direction: column;
        gap: 40px;
        transform: scale(1);
        align-items: center;
    }

    .boleto, .guia, .plano, .portal, .fale, .atendimento {
        margin-top: 20px;
        margin-left: -50;
    }
}

