.fundo {
    position: relative;
    width: 100%;
    height: 40vw; 
    justify-content: center;
    margin-top: 30;
    overflow: hidden;
}

.imagem {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 30vw;
    justify-content: center;
    background-image: url('./fundo.png'); 
    background-size: 100%; 
    background-attachment: scroll;
    background-repeat: no repeat ;
    word-wrap: break-word;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
    overflow: hidden;
}

.text1, .text2{
    margin-top: 8;
    position: relative;
    display: flex;
    z-index: 2; 
    color: white; 
    padding: 20px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 300px;
    list-style-type: none; 
    padding-top: 10px;
    word-wrap: normal;
    line-height: 1;
}



.text1{
    display: flex;
    word-wrap: normal;
    padding-top: 100px;
    font-size: 50px;
    font-weight: 600;
}


.text2 {
    display: flex;
    word-wrap: normal;
    font-size: 20px;
}


.botão {

    position: relative;
    z-index: 2;
    background-color: none;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 6px 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    margin-left: 370px;
    font-weight: bolder;
    margin-top: 9px;
    font-size: 13px;
    transform: scale(1.3);
    transition: all 300ms ease-in-out;
}


.botão:hover {
    background-color: rgb(102, 168, 75); 
    border: 1px solid rgb(102,168,75);
    color: rgb(24, 53, 12);
    font-weight: 600;
    transform: scale(1.4);
  }

.containers {
    margin-top: 50px;
    margin-left: 200px;
    position: relative;
    z-index: 2;
    list-style: none;
    color: white;
    padding: px;
    gap: 0;
    display: flex;

    cursor: pointer;
    justify-content: center;
    margin-right: 100px;;
}



.container1 {
    display: flex;
    background-color: white; 
    width: 30%; 
    height: 200px; 
    border: 1px solid #ccc; 
    transform: scale(1.2);

}

.container2 {
    display: flex;
    background-color: white;
    width: 30%; 
    height: 200px; 
    border: 1px solid #ccc; 
    transform: scale(1);

}


.container1,
.container2 {
    width: 280px; 
    height: 380px; 
    border: none; 
    margin-top: 80px;
    margin-left: 80px;
    border-radius: 8px;
    transition: 1s ease-in-out
}
.container1.hovered {
    transform: scale(1.3);
  }
  

  .container2.hovered {
    transform: scale(1.2);
  }

  .container1.reduced {
    transform: scale(0.9);
  }

  .container2.reduced {
    transform: scale(0.8);
  }

.texto1 {
    color: rgb(63, 61, 61);
    margin-left: 20px;
    font-size: 16px;
    margin-top: 36px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    
}

 
.saibamais {
    background-color: none;
    color: black;
    border: 1px solid rgb(102, 168, 75);
    border-radius: 4px;
    padding: 9px 50px;
    cursor: pointer;
    font-weight: bolder;
    margin-left: 30px;
    margin-top: 15px;
    font-size: 13px;
}

.saibamais:hover {
    background-color: rgb(102, 168, 75); 
    border: 1px solid rgb(102,168,75);
    color: rgb(24, 53, 12);
    font-weight: 600;
    transition: 300ms;
  }

  @media screen and (max-width: 768px) {
    .fundo{
        display: flex;
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 600px;
    }
    .imagem {
        background-position: center;
        background-size: cover;
        display: flex;
        position: relative;
        width: 700px;
        overflow: hidden;
        height: 700px;
        justify-content: center;
        background-image: url('./fundo.png'); 
        background-attachment: scroll;
        background-repeat: none;
        word-wrap: break-word;
    }

    .botao {
        font-size: 12px;
        transform: scale(1);
    }
    .saibamais {
        padding: 7px 30px;
        font-size: 12px;
    }

    .planos{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text1, .text2{
        position: relative;
        display: flex;
        z-index: 2; 
        align-items: center;
        justify-content: center;
        color: white; 
        padding: 20px;
        text-align: left;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-left: 30;
        list-style-type: none; 
        margin-top: -5;
        line-height: 1;
    }
    
    
    
    .text1{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 60px;
        font-weight: 600;
        padding-right: 0;
    }
    
    
    .text2 {
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 30px;
        margin-top: -10;
    }
    
    
    .botão {
    
        position: relative;
        z-index: 2;
        background-color: none;
        color: white;
        border: 1px solid white;
        border-radius: 4px;
        padding: 6px 10px;
        cursor: pointer;
        display: block;
        margin: 24px;
        margin-left: 0;
        font-weight: bolder;
        margin-top: 9px;
        font-size: 13px;
        transform: scale(1.3);
        transition: all 300ms ease-in-out;
        justify-content: center;;
        width: 150px;
        margin-left: 60px;
    }
    .container1, .container2{
        display: none;
    }
    
}

@media screen and (max-width: 480px) {
    .imagem {
        display: flex;
        position: relative;
        width: 1200px;
        overflow: hidden;
        height: 110vw;
        justify-content: center;
        background-image: url('./fundo.png'); 
        background-size: cover; 
        background-attachment: scroll;
        background-repeat: no repeat ;
    }

    .botao {
        font-size: 12px;
        transform: scale(1);
    }
    .saibamais {
        padding: 7px 30px;
        font-size: 12px;
    }

    .planos{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text1, .text2{
        position: relative;
        display: flex;
        z-index: 2; 
        align-items: center;
        justify-content: center;
        color: white; 
        padding: 20px;

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-left: 0;
        list-style-type: none; 
        margin-top: -5;
        line-height: 1;
        margin-left: 60px;
    }
    
    
    
    .text1{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-weight: 600;
        padding-right: 40;
        
    }
    
    
    .text2 {
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 20px;
        margin-top: -10;
    }
    
    
    .botão {
    
        position: relative;
        z-index: 2;
        background-color: none;
        color: white;
        border: 1px solid white;
        border-radius: 4px;
        padding: 6px 10px;
        cursor: pointer;
        display: block;
        margin: 24px;
        margin-left: 0;
        font-weight: bolder;
        margin-top: 9px;
        font-size: 13px;
        transform: scale(1.3);
        transition: all 300ms ease-in-out;
        justify-content: center;;
        width: 150px;
        margin-left: 20px;
    }
    
    

}