.fundo {
    position: relative;
    width: 100%;
    height: 40vw; /* A altura pode ser ajustada conforme necessário */
    justify-content: center;
    margin-top: 30;
    overflow: hidden;
}

.imagem {
    display: flex;
    position: relative;
    width: 100vw;
    overflow: hidden;
    height: 30vw;
    justify-content: center;
    background-image: url('./fundo.png'); /* Substitua pelo caminho correto da imagem */
    background-size: 100%; /* A imagem vai cobrir todo o container */
    background-attachment: scroll;
/* A imagem será centralizada */
    background-repeat: no repeat ;
    word-wrap: break-word;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Escurecendo a imagem */
    z-index: 1; /* Garante que o overlay fique acima da imagem */
    overflow: hidden;
}

.text1, .text2{
    margin-top: 8;
    position: relative;
    display: flex;
    z-index: 2; /* Garante que o texto fique acima da sobreposição */
    color: white; /* Torna o texto branco para contraste */
    padding: 20px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 300px;
    list-style-type: none; 
    padding-top: 10px;
    word-wrap: break-word;
    line-height: 1;
}



.text1{
    display: flex;
    word-wrap: break-word;
    padding-top: 100px;
    font-size: 50px;
    font-weight: 600;
}


.text2 {
    display: flex;
    word-wrap: break-word;
    font-size: 20px;
}


.botão {

    position: relative;
    z-index: 2;
    background-color: none;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 6px 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    margin-left: 370px;
    font-weight: bolder;
    margin-top: 9px;
    font-size: 13px;
    transform: scale(1.3);
    transition: all 300ms ease-in-out;
}


.botão:hover {
    background-color: rgb(102, 168, 75); /* Muda a cor de fundo ao passar o mouse */
    border: 1px solid rgb(102,168,75);
    color: rgb(24, 53, 12);
    font-weight: 600;
    transform: scale(1.4);
  }

.containers {
    margin-top: 50px;
    margin-left: 200px;
    position: relative;
    z-index: 2;
    list-style: none;
    color: white;
    padding: px;
    gap: 0;
    display: flex;

    cursor: pointer;
    justify-content: center;
    margin-right: 100px;;
}



.container1 {
    display: flex;
    background-color: white; /* Cor de fundo para os contêineres filhos */
    width: 30%; /* Ajuste a largura conforme necessário */
    height: 200px; /* Ajuste a altura conforme necessário */
    border: 1px solid #ccc; /* Adiciona borda aos contêineres */
    transform: scale(1.2);

}

.container2 {
    display: flex;
    background-color: white; /* Cor de fundo para os contêineres filhos */
    width: 30%; /* Ajuste a largura conforme necessário */
    height: 200px; /* Ajuste a altura conforme necessário */
    border: 1px solid #ccc; /* Adiciona borda aos contêineres */
    transform: scale(1);

}


.container1,
.container2 {
 /* Cor de fundo dos containers */
    width: 280px; /* Ajuste a largura de cada container */
    height: 380px; /* Altura do container */
    border: none; /* Exemplo de borda */
    margin-top: 80px;
    margin-left: 80px;
    border-radius: 8px;
    transition: 1s ease-in-out
}
.container1.hovered {
    transform: scale(1.3);
  }
  
  /* Quando o contêiner 2 é hoverado */
  .container2.hovered {
    transform: scale(1.2);
  }

  .container1.reduced {
    transform: scale(0.9);
  }

  .container2.reduced {
    transform: scale(0.8);
  }

.texto1 {
    color: rgb(63, 61, 61);
    margin-left: 20px;
    font-size: 16px;
    margin-top: 36px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    
}

 
.saibamais {
    background-color: none;
    color: black;
    border: 1px solid rgb(102, 168, 75);
    border-radius: 4px;
    padding: 9px 50px;
    cursor: pointer;
    font-weight: bolder;
    margin-left: 30px;
    margin-top: 15px;
    font-size: 13px;
}

.saibamais:hover {
    background-color: rgb(102, 168, 75); /* Muda a cor de fundo ao passar o mouse */
    border: 1px solid rgb(102,168,75);
    color: rgb(24, 53, 12);
    font-weight: 600;
    transition: 300ms;
  }
