
.navbar {
  background-color: #ffffff;
  color: darkslategray;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2); 
  position: fixed;
  top: 0; 
  left: -0;
  width: 100%; 
  height: 110px;
  z-index: 1000; 
  margin-bottom: 100px;
  
}


.menuicon{
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  transform: scale(0.9);
  padding-right: 1vw;
  margin-left: -400px;
}

.primeira-nav{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -10px;
  gap:15px
}

.logo img {
  height: 70px;
  width: auto;
}

.navbar-link {
  font-size: 15;
  display: flex;
  gap: 80px;
  list-style: none;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: -30px;
}

.navbar-link:hover{
  font-weight: 600;
  color: black;
}
.nav {
  flex: center;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primeira-nav{
  width: -2vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}


.navbar-link {
  display: flex;
  gap: 30px;
  padding: 10px;
}

.drop1, .drop2, .drop3, .drop4, .drop5 {
  position: relative;
  display: inline-block;
}

button {
  background: none;
  color: rgba(20, 20, 20, 0.562);
  border: none;
  font-size: 13px;
  cursor: pointer;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
  font-weight: 300;
}
button:hover {
  color: black;
  transform: scale(1.1);

}

ul {
  display: none;
  position: absolute;
  top: 110%; 
  left: -30;
  background-color: white;
  list-style: none;
  padding: 10px 0;

  border-radius: 4px;
  min-width: 150px;
  z-index: 10;
  box-shadow:none;
}

ul li {
  padding: 8px 15px;
}

ul li a {
  color: #333;
  text-decoration: none;
}

ul li:hover {
  background-color: #f7f7f7;
}


.drop2:hover .servicosDrop {
  display: block;
}

.drop3:hover .portaisDrop {
  display: block;
}

.drop4:hover .planosDrop {
  display: block;
}

.drop5:hover .homeDrop{
  display:block;
}

.navbar-link a {
  text-decoration: none;
  color: dimgrey;
  font-weight: 300;
  transition: color 0.3s;

  
}

.bots{
  margin-right: -1vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  transform: scale(0.9);
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.fazerlogin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2vw;
}
.busca-container {
  display: flex;
  

}
.segundanav{
  display: flex;
}
.search-icon {
  color: rgb(180, 180, 180);
  margin-right: -40px;
  margin-top: 9px;
}
.search {
  border: none;
  outline: none;
  font-size: 13px;
  padding: 11px 70px;
  background-color: rgba(180, 180, 180, 0.205);
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  margin-left: -9px;
  transition: all 0.8s ease-in-out;
  width: 400;
}


.search-icon {
  color: #333;
  transition: color 0.3s ease;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b8046;
  color: aliceblue;
  font-weight: 800;
 padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  gap: 7px
}

.login:hover {
  background-color: white;
  border: 2px solid #2b8046;
  color: rgba(0, 0, 0, 0.74);
  
}

.numero-bt{
  display: flex;
  color: #333333c9;
  font-size: 14;
  font-weight: 600;
  
}


.local {
  display: flex;
  gap:10px;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-right: 1px solid rgba(0, 0, 0, 0.103);
  padding: 8px 25px;
  transition: all 0.3s ease-in-out;
  font-size: 13;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style-type: none;
  color: #333333a6;
  font-weight: 600;
}

.local:hover{
  
}

.localicon:hover{
  font-weight: 800;
}

.drop1{
  gap: 6px;
}
.unimedDrop{
  position: absolute;
  margin-left: 620;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  list-style: none;
  padding: 10px 0;
  width: 150px;
  border-radius: 4px;
}
.dropdown-toggle {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.unimed {
  border: 1 px solid black;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  list-style: none;
  padding: 10px 0;
  width: 150px;
  border-radius: 4px;
}

.dropdown-menu li {
  padding: 8px 15px;
}

.dropdown-menu li a {
  color: #333;
  text-decoration: none;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    height: 65px;
    padding: 10px 15px;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: none; 
  }

  .logo{
    display: none;
  }

  .local {
    display: flex;
  }

  .menuicon {
    display: flex;
    color: rgba(0, 0, 0, 0.61);
    font-size: 24px;
    cursor: pointer;
    transform: scale(2);
    align-items: center;
    justify-content: center;
    margin: 35
  }

  .navbar-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 30px;
    transition: all 1s ease-in-out;
  }

  .navbar-toggle.open {
    transition: all 1s ease-in-out;
  }

  .navbar-collapse {
    position: fixed;
  top: 70;
  left: -100%;
  width: 100vw; 
  height: 100vh;
  background: white;
  box-shadow: none;
  transition: left 0.5s ease-in-out;
  z-index: 1000;
  }

  .navbar-collapse.open {
    display: flex;
    transition: all 1s ease-in-out;
    left: 0;
  }


  .navbar-link {
    display: none;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    text-align: left;
    transition: all 1s ease-in-out;
  }

  .navbar-link.open {
    display: flex;
    height: 50vh;
    transition: all 1s ease-in-out;
  }

  .bots, .fazerlogin, .search-container {
    display: none;
  }

  .login {
    font-size: 16px;
    padding: 8px 15px;
    width: 100%;
  }

  .nav {
    width: 100%;
    justify-content: space-between;
    gap: 10px;
  }

  .dropdown-toggle {
    font-size: 14px;
    width: 100%;
  }

  .unimedDrop {
    width: 100%;
    box-shadow: none;
  }

  /* Alterna o layout do container de busca para ser mais compacta */
  .search {
    width: 100%;
    padding: 8px;
    font-size: 12px;
    margin-left: 0;
  }

  /* Reorganiza o local e outros itens */
  .local {
    display: none; /* Oculta o botão de local em telas menores */
  }

  /* Melhor ajustamento da busca no mobile */
  .search-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .segundanav {
    display: block; /* Para melhor separação entre elementos */
  }
  .numero {
    display: none;
  }

  .menuicon{
    margin-bottom: 20;
  }

  ul {
    position: initial;
    list-style: none;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
    font-size: 13;
    margin-left: 20;
  }

  ul.open {
    max-height: 500px; 
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    text-align: left;
    width: 100%;
    transition: background-color 0.3s ease;
    
  }
  .home {
    margin-top: 50;
  }
  .home, .servicos, .portais, .planos{
    color:#333;
    font-size: 25;
    margin-left: 50;
  }
  .home:hover, .servicos:hover, .portais:hover, .planos:hover{
    color: black;
  }


  li {
    padding: 8px 10px;
  }
  
  li a {
    text-decoration: none;
  }
  
  ul li a {
    color: #333;
    text-decoration: none;
  }
  
  ul li:hover {
    color: black;
  }
  
  .drop5, .drop2, .drop3, .drop4 {
  position: relative;
}
}

