.fundo {
    position: relative;
    width: 100vw;
    height: 100vh; /* A altura pode ser ajustada conforme necessário */
}

.imagem {
    position: relative;
    width: 100vw;
    height: 590px;
    background-image: url('./fundo.png'); /* Substitua pelo caminho correto da imagem */
    background-size: 50cm; /* A imagem vai cobrir todo o container */

    background-position: center top; /* A imagem será centralizada */
    background-repeat: no repeat ;
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Escurecendo a imagem */
    z-index: 1; /* Garante que o overlay fique acima da imagem */
}

.text1, .text2, .text11, .text22  {
    position: relative;
    z-index: 2; /* Garante que o texto fique acima da sobreposição */
    color: white; /* Torna o texto branco para contraste */
    padding: 20px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 350;
    list-style-type: none; 
    padding-top: 10px;
}


.text11 {
    padding-top: 10px;
    font-size: 40px;
    font-weight: 600;
    
}

.text1, .text11 {
    line-height: 4px;
}

.text1 {
    padding-top: 100px;
    font-size: 40px;
    font-weight: 600;
    
}

.text2 {
    font-size: 17px;
    margin-top:35px;
}

.text22 {
    font-size: 17px;
    margin-top: 0px;
}

.text2, .text22 {
    line-height: 1px;
}

.botão {

    position: relative;
    z-index: 2;
    background-color: none;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 6px 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    margin-left: 370px;
    font-weight: bolder;
    margin-top: 9px;
    font-size: 13px;
}

button:hover {
    background-color: rgb(102, 168, 75); /* Muda a cor de fundo ao passar o mouse */
    border: 1px solid rgb(102,168,75);
    color: rgb(24, 53, 12);
    font-weight: 600;
    transition: 300ms;
  }

.containers {
    position: relative;
    z-index: 2;
    list-style: none;
    color: white;
    padding: 10px;
}
