.fundo {
    position: relative;
    width: 100vw;
    height: 100vh; /* A altura pode ser ajustada conforme necessário */
    justify-content: flex-start;
}

.imagem {
    display: flex;
    position: relative;
    width: 100vw;
    height: 590px;
    background-image: url('./fundo.png'); /* Substitua pelo caminho correto da imagem */
    background-size: 50cm; /* A imagem vai cobrir todo o container */

    background-position: center top; /* A imagem será centralizada */
    background-repeat: no repeat ;
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Escurecendo a imagem */
    z-index: 1; /* Garante que o overlay fique acima da imagem */
}

.text1, .text2, .text11, .text22  {
    position: relative;
    z-index: 2; /* Garante que o texto fique acima da sobreposição */
    color: white; /* Torna o texto branco para contraste */
    padding: 20px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 350;
    list-style-type: none; 
    padding-top: 10px;
}


.text11 {
    padding-top: 10px;
    font-size: 40px;
    font-weight: 600;
    
}

.text1, .text11 {
    line-height: 4px;
}

.text1 {
    padding-top: 100px;
    font-size: 40px;
    font-weight: 600;
    
}

.text2 {
    font-size: 17px;
    margin-top:35px;
}

.text22 {
    font-size: 17px;
    margin-top: 0px;
}

.text2, .text22 {
    line-height: 1px;
}

.botão {

    position: relative;
    z-index: 2;
    background-color: none;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 6px 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    margin-left: 370px;
    font-weight: bolder;
    margin-top: 9px;
    font-size: 13px;
}

button:hover {
    background-color: rgb(102, 168, 75); /* Muda a cor de fundo ao passar o mouse */
    border: 1px solid rgb(102,168,75);
    color: rgb(24, 53, 12);
    font-weight: 600;
    transition: 300ms;
  }

.containers {
    position: relative;
    z-index: 2;
    list-style: none;
    color: white;
    padding: px;
    gap: 0;
    display: flex;
    width: 50%;
}



.container1 {
    display: flex;
    background-color: white; /* Cor de fundo para os contêineres filhos */
    width: 30%; /* Ajuste a largura conforme necessário */
    height: 200px; /* Ajuste a altura conforme necessário */
    border: 1px solid #ccc; /* Adiciona borda aos contêineres */
    transform: scale(1.2);

}

.container2 {
    display: flex;
    background-color: white; /* Cor de fundo para os contêineres filhos */
    width: 30%; /* Ajuste a largura conforme necessário */
    height: 200px; /* Ajuste a altura conforme necessário */
    border: 1px solid #ccc; /* Adiciona borda aos contêineres */
    transform: scale(1);

}


.container1,
.container2 {
 /* Cor de fundo dos containers */
    width: 280px; /* Ajuste a largura de cada container */
    height: 380px; /* Altura do container */
    border: none; /* Exemplo de borda */
    margin-top: 80px;
    margin-left: 80px;
    border-radius: 8px;
    transition: 1s ease-in-out
}

.texto1 {
    color: rgb(63, 61, 61);
    margin-left: 20px;
    font-size: 16px;
    margin-top: 36px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    
}

  
  .hovered {
    transform: scale(1.1);
  }

  .reduced {
    transform: scale(0.9);
  }

.saibamais {
    background-color: none;
    color: black;
    border: 1px solid rgb(102, 168, 75);
    border-radius: 4px;
    padding: 9px 50px;
    cursor: pointer;
    font-weight: bolder;
    margin-left: 30px;
    margin-top: 15px;
    font-size: 13px;
}

.saibamais:hover {
    background-color: rgb(102, 168, 75); /* Muda a cor de fundo ao passar o mouse */
    border: 1px solid rgb(102,168,75);
    color: rgb(24, 53, 12);
    font-weight: 600;
    transition: 300ms;
  }
