.rodape1{
    display: flex;
    padding-top: 1vw;
    background-color: rgb(241, 241, 241);
    justify-content: center;
    width: 99.2vw;
    margin-top: 3vw;
}

.titulos {
    font-size: 18;
    font-weight: 600;
    margin-bottom: 1vw;
    color: rgba(0, 0, 0, 0.678);
    
}

.line{
    margin-bottom: 15px;
    font-size: 13;
    color: rgba(0, 0, 0, 0.548);

}

.href{
    display: flex;
}
.href:hover{
    text-decoration: underline;
}

@media (max-width: 768px) {
    .rodape1 {
        flex-direction: column;
        padding: 0;
        margin-top: 50;
        
    }

    .rodape-container{
        padding-top: 40;
        padding-bottom: 40;
        gap:1px
    }
    .titulos {
        margin-left: 50;
        font-size: 19px;
        justify-content: center;
    }
    .line{
        margin-left: 70;
        font-size: 17;
    }
    .Imprensa, .unimed{
        margin-right: 40;
    }
}
