.rodape1{
    display: flex;
    padding-top: 1vw;
    background-color: rgb(241, 241, 241);
    justify-content: center;
    width: 99.2vw;
    margin-top: 3vw;
}

.titulos {
    font-size: 18;
    font-weight: 600;
    margin-bottom: 1vw;
    color: rgba(0, 0, 0, 0.678);
    
}

.line{
    margin-bottom: 15px;
    font-size: 13;
    color: rgba(0, 0, 0, 0.548);

}

.href{
    display: flex;
}
.href:hover{
    text-decoration: underline;
}

@media (max-width: 768px) {
    .rodape1 {
        flex-direction: column;
        padding: 5vw;
        transform: scale(1);
    }
    .titulos {
        font-size: 17px;
        justify-content: flex-start;
    }
    .href {
        font-size: 17px;
        justify-content: flex-start;

    }
}
