.container-contatos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-right: 8;
    margin-top: 20px;
    width: 100%;
    gap: 8px;
    position: relative;
}
  
.baner {
    size-adjust: cover; /*ajustar para que fique da largura exata da tela*/
    background-position: center;
    display: flex;
    overflow: hidden;
    margin: 0;
    left: 0;
    width: 100vw; /* Largura fixa */
    height: 200px; /* Altura fixa */
    flex-wrap: wrap;
    flex-shrink: 0;
    position: relative;
    justify-content: center;
}
