
.centrais{
    display: flex;
    position: relative;
    justify-content: center;
    gap: 8%;
    padding: 2vw;
    width: 65%;
    height: 100%;
    padding: 2%;
    font-size: 14;
    word-wrap: break-word;
    border-right: 1px solid rgba(0, 0, 0, 0.158);
    margin-left: -40;
}

.centrais-container{
    display: flex;
    word-wrap: break-word;
    width: 100%;
}

.rodape {
    justify-content: flex-start;
    overflow: hidden;
}

.rodape-container {
    display: flex;
    list-style-type: none;
    gap: 5vw;
    justify-content: center;
    margin: 1vw;
    overflow: hidden;
    word-wrap: break-word;
}

.linha-divisao{
    position: relative;
    display: flex;
    margin-bottom: -10px;
    overflow: hidden;
}



.centrais-container1{
    flex-direction: column;
    padding: 2%;
    word-wrap: break-word;
}

.centrais-container2{
    flex-direction: column;
    padding: 2%;
    word-wrap: break-word;
}

.rodape2 {
    display: flex;
    margin-top: 10px;
    list-style-type: none;
    justify-content: center;
    border-top:1px solid rgba(0, 0, 0, 0.158);
    width:99.2vw;
    margin-bottom: -20;
    height: 110;
    font-family: Poppins, sans-serif;
    overflow: hidden;
    gap: 50;
    
}

.coop {
    width: 10vw;
    margin-top: 10;
}

.ans {
    width: 10vw;
    margin-left: 0;
}

.ansn {
    width:10vw;
    margin-left: 0;
    margin-top: 15;
}

.data{
    display: flex;
    justify-content: center;
    margin-top: 25;
    padding-right: 50;
    font-size: 13;
    color: rgba(0, 0, 0, 0.733);
    padding-left: 20vw;

}

.whatsapp{
    transform: scale(1.9);
    margin-top: 4;
    margin-right: 12;
    margin-left: 7;
    margin-bottom: 12px;
}

.phone{
    margin-right: 12;
    margin-bottom: 12px;
}
.clock{
    margin-right: 12;
    margin-bottom: 12px;
}
.mail{
    display: flex;
    margin-right: 10;
    margin-bottom: 12px;
    margin-left: -11;
}
.info-phone {
    display: flex;
    justify-content: center;
    display: flex;
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.5);

}
.info-phone2 {
    display: flex;
    justify-content: flex-start;
    display: flex;
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.5);

}
.info-whats {
    display: flex;
    justify-content: center;
    display: flex;
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.5);;
    margin-left: 10px;

}

.info-clock {
    display: flex;
    justify-content: center;
    display: flex;
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.5);;

}
.info-clock2 {
    list-style-type: none;
    display: flex;
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.5);
    margin-left:0;
}

.info-mail {
    display: flex;
    justify-content: center;
    display: flex;
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.5);;
    margin-left: 80px;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 18;
    margin-bottom: 20;
    color: rgba(0, 0, 0, 0.644);
    font-weight: 400;
    margin-left: 40;
    font-weight: 600;

}
.title2 {
    display: flex;
    justify-content: center;
    font-size: 18;
    margin-bottom: 20;
    color: rgba(0, 0, 0, 0.644);
    font-weight: 400;
    margin-left: 10;
    font-weight: 600;

}

.clock2{
    display: flex;
    margin-right: 12;
    margin-bottom: 12px;
    
    min-width: 20px;
    max-width: 50px;
}


.siganos{
    flex-direction: column;
    width: 30%;
    height: 30%;
    padding: 35;
    margin-left:30;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    list-style-type: none;
}

.siganos-title{
    display: flex;
    justify-content: center;
    font-size: 18;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.76);
}
.apps{
    gap:6px;
    display: flex;
    justify-content: center;
    transform: scale(0.6)
}

@media screen and (max-width: 1084px){
    .siganos-title{
        display: flex;
        justify-content: center;
        font-size: 15;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.76);
    }
    .centrais{
        display: flex;
        position: relative;
        justify-content: center;
        gap: 8%;
        padding: 2vw;
        width: 75%;
        height: 100%;
        padding: 2%;
        font-size: 12;
        word-wrap: break-word;
        border-right: 1px solid rgba(0, 0, 0, 0.158);
        margin-left: -40;
    }
    .title{
        display: flex;
        justify-content: center;
        font-size: 16;
        margin-bottom: 20;
        color: rgba(0, 0, 0, 0.644);
        font-weight: 400;
        margin-left: 40;
        font-weight: 600;
    
    }
    .title2 {
        display: flex;
        justify-content: center;
        font-size: 16;
        margin-bottom: 20;
        color: rgba(0, 0, 0, 0.644);
        font-weight: 400;
        margin-left: 10;
        font-weight: 600;
    }
    .rodape2 {
        display: flex;
        margin-top: 10px;
        list-style-type: none;
        justify-content: center;
        border-top:1px solid rgba(0, 0, 0, 0.158);
        width:99.2vw;
        margin-bottom: -20;
        height: 110;
        font-family: Poppins, sans-serif;
        overflow: hidden;
        
    }
    
    .coop {
        width: 20vw;
        margin-top: 15;
    }
    
    .ans {
        width: 20vw;
        margin-top: 10;
    }
    
    .ansn {
        width:20vw;
        margin-left: 0;
        margin-top: 20;
    }
    
    .data{
        display: flex;
        justify-content: center;
        margin-top: 25;
        padding-right: 50;
        font-size: 10;
        color: rgba(0, 0, 0, 0.733);
        padding-left: 10vw;
    
    }
}
@media (max-width: 768px) {
.linha-divisao{
    flex-direction: column;
}
    .line {
        font-size: 11px;
    }
    .centrais {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 3vw;
        justify-content: center;
        padding: 50;
        font-size: 14;
        border-right: none;
        
    }
    .rodape-container {
        flex-direction: column;
        align-items: center;
        gap: 3vw;
    }
    .rodape2 {
        flex-direction: column;
        gap: 10px;
        padding: 3vw;
    }
    .data {
        font-size: 10px;
        text-align: center;
    }
    .siganos {
        flex-direction: column;
        padding-top: 10px;
    }
    .apps {
        
        transform: scale(0.7);
        margin-bottom: 50;
    }

    .coop {
        margin-top: 350;
        margin-left: 0;
        transform: scale(0.8);
    }
    
    .ans {
        margin-top: -20;
        margin-left: 0;
        transform: scale(0.8);
    }
    
    .ansn {
        margin-left: -30;
        margin-top: 0;
        transform: scale(0.6);

    }
    
    .data{
        align-items: center;
        justify-content: center ;
        margin-top: 47;
        padding-right: 100;
        font-size: 10;
        color: rgba(0, 0, 0, 0.733);
        margin-left: 70;
    }
    .centrais-container2{
        margin-left: -60;
        align-items: center;
    }
    .whatsapp{
        transform: scale(1.9);
        margin-top: 4;
        margin-right: 12;
        margin-left: 7;
        margin-bottom: 12px;
    }
    
    .phone{
        margin-right: 12;
        margin-bottom: 12px;
    }
    .clock{
        margin-right: 12;
        margin-bottom: 12px;
    }
    .mail{
        display: flex;
        margin-right: 10;
        margin-bottom: 12px;
    }
    .info-phone {
        display: flex;
        justify-content: center;
        display: flex;
        margin-bottom: 12px;
        color: rgba(0, 0, 0, 0.5);
        margin-left: -10;
    
    }
    
    .info-whats {
        display: flex;
        justify-content: center;
        display: flex;
        margin-bottom: 12px;
        color: rgba(0, 0, 0, 0.5);;
        margin-left: 10px;
    
    }
    
    .info-clock {
        display: flex;
        justify-content: center;
        display: flex;
        margin-bottom: 12px;
        color: rgba(0, 0, 0, 0.5);;
    
    }
    .info-clock2 {
        list-style-type: none;
        display: flex;
        margin-bottom: 12px;
        color: rgba(0, 0, 0, 0.5);;
        margin-left:30
    }
    
    .info-mail {
        display: flex;
        justify-content: center;
        display: flex;
        margin-bottom: 12px;
        color: rgba(0, 0, 0, 0.5);;
        margin-left: 80px;
    }
    
    .title{
        display: flex;
        justify-content: center;
        font-size: 18;
        margin-bottom: 20;
        color: rgba(0, 0, 0, 0.644);
        font-weight: 400;
        margin-left: 40;
        font-weight: 600;
    
    }
    
    .clock2{
        list-style-type: none;
        display: flex;
        margin-right: 12;
        margin-bottom: 12px;
        margin-left: 20px;
    }
    
}
