.navbar {
    background-color: aliceblue;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .logo h1 {
    color: #003B32;
    margin: 0;
    font-size: 18px;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    margin: 0;
  }
  
  .navbar-item {
    margin: 0 20px;
    position: relative;
  }
  
  .navbar-link {
    color: #003B32;
    text-decoration: none;
    font-size: 13px;
    display: flex;
    align-items: center;
    transition: color 0.3s;
  }
  
  .navbar-link svg {
    margin-right: 8px;
  }
  
  
  .dropdown-menu {
    position: absolute;
    top: 35px;
    right: 0;
    background-color: #003B32;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border-radius: 5px;
  }
  
  .dropdown-menu li a {
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu li a:hover {
    background-color: #FFD700;
  }
  
  @media (max-width: 768px) {
    .navbar-list {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar-item {
      margin: 10px 0;
    }
  
    .dropdown-menu {
      top: 40px;
      right: 0;
      width: 100%;
    }
  }
  