.carousel-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin-top: 170px;
}
  .carousel-track {
    display: flex;
    transition: transform 0.8s ease-in-out;
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 0;
  }
  
  @keyframes slideIn {
    0% {
      left: 100%;
      opacity: 0;
    }
    20% {
      left: 0;
      opacity: 1;
    }
    80% {
      left: 0;
      opacity: 1;
    }
    100% {
      left: -100%;
      opacity: 0;
    }
  }