.container-contatos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-right: 8;
    margin-top: 20px;
    width: 100%;
    gap: 50px;
    position: relative;
}
  
.baner {
    size-adjust: cover; /*ajustar para que fique da largura exata da tela*/
    background-position: center;
    display: flex;
    overflow: hidden;
    margin: 0;
    left: 0;
    width: 100vw; /* Largura fixa */
    height: 200px; /* Altura fixa */
    flex-wrap: wrap;
    flex-shrink: 0;
    position: relative;
    justify-content: center;
}

.contatos{
    margin-top: 17;
    margin-left:25;
    transform: scale(1.2);
    margin-right: 20;
}

.sos {
    transform: scale(1.1);
}

.whats{
    transform: scale(1.1);
}

.sac{
    transform: scale(1.1);
}

.contratar{
    transform: scale(1.1);
}

@media (max-width: 768px){
    .sos{
        width: 100vw;
        height: 100vw;
    }
}